<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p class="error" th:if="${userError}">That user already exists</p>
<p class="error" th:if="${userCreated}">User created successfully</p>
<form action="#" method="post" th:action="@{/addUser}" th:object="${user}">
    <label for="username">Username</label>:
    <input autofocus="autofocus" id="username" name="username" type="text"/> <br/>
    <label for="password">Password</label>:
    <input id="password" name="password" type="password"/> <br/>
    <label for="email">Email</label>
    <input name="email" id="email"/><br />
    <label for="firstName">First Name</label>
    <input name="firstName" id="firstName"/><br />
    <label for="lastName">Last Name</label>
    <input name="lastName" id="lastName"/><br />
    <input type="submit" value="Add User"/>
</form>
</body>
</html>